<h1>Here be fish info!</h1>

{{#each fish}}
<ul>
    <li><img src="{{image}}" alt="Image of {{species}}"></li>
    <li>Species: {{species}}</li>
    <li>Quantity in tank: {{quantity}}</li>
</ul>
{{/each}}