<h1>Add a new fish!</h1>

<form class="form" action="/newfish" method="post">
    <label for="image">Image:</label>
    <input name="image" type='img'><br><br>

    <label for="species">Species:</label>
    <input name="species" type="species"><br><br>

    <label for="quantity">Quantity in tank:</label>
    <input name="quantity" type="quantity"><br><br>

    <label for="tank_id">Which tank are they in?</label>
    <input name="tank_id" type="tank_id"><br><br>

    <input type="submit" name="save">
</form>