<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to your tanks!</title>
  </head>
  <body>
    <ul>
    {{!-- {{#each users}}
      <li>{{name}} ({{email}})</li>
    {{/each}} --}}
    This is now working! Good job!
    </ul>
  </body>
</html>
