    <ul>
    {{#each tanks}}
      <li><a href='./tank{{id}}'>Tank number {{id}}</a> is {{litres}} litres {{img}}</li>
    {{/each}}
    </ul>

Got new babies? Thats great! Add a fish <a href='./newfish'>here.</a>