<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to your tanks!</title>
  </head>
  <body>
    <ul>
    {{#each tanks}}
      <li>Tank number {{id}} is {{litres}} litres {{img}}</li>
    {{/each}}
    </ul>
  </body>
</html>
